@model ApplicationPerformance.Models.SystemUser
@Styles.Render("~/Content/css")
<link href="~/Content/themes/jquery-ui.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery-ui.js"></script>
@Scripts.Render("~/bundles/modernizr")



@{
    Layout = "";
}

@{
    ViewBag.Title = "LogIn";
}
<body background="~/Content/Pictures/Background.jpg" style="background-repeat:no-repeat; background-size:100% 100%;">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Login failed. Check your login details.");


        <div class="container" style="opacity:0.92;margin-top:100px">
            <div class="row vertical-offset-50" style="align-items:center">

                <div class="col-md-9">

                </div>

                <div class="col-md-3">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title" style="text-align:center">Please sign in</h3>
                        </div>
                        <div class="panel-body">
                            <form accept-charset="UTF-8" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Username" name="Username" type="text">

                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">

                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me"> Remember Me

                                        </label>
                                    </div>
                                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" style="background-color:#a7a9ac">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row">
                <div class="col-md-12" style="text-align:center; background-color:white">

                    <p>
                        <br />
                        <img class="header-pic" src="~/Content/Pictures/Coronation.png" alt="Coronation">
                    </p>
                </div>
            </div>*@



        <div class="row" style="margin-top:100px;">

            <div class="col-md-2">

            </div>

            <div class="col-md-7">
                <div>
                    @*<img class="landing-pic" src="~/Content/Pictures/HomePic.jpg" alt="Performance Appraisal" />*@

                </div>
            </div>

            @*<div class="col-md-2" style="background-color:whitesmoke; opacity:0.9; padding-top:50px; padding-left:35px; box-shadow:5px 10px 20px black">*@

            @*<div>
                    <img class="header-pic" src="~/Content/Pictures/Coronation.png" style="width:50px;height:50px" alt="Performance Appraisal" />
                </div>*@

            @*<div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon1"> <span class="glyphicon glyphicon-user" aria-hidden="true">   </span></span>
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    @Html.TextBoxFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <br />


                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon1"> <span class="glyphicon glyphicon-asterisk" aria-hidden="true">   </span></span>
                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <br />
                <input class="remeber-link" type="checkbox" checked="checked" style="margin-left:50px"> Remember me
                <br />
                <div class="form-actions no-color">
                    <input type="submit" value="Log-in" class="btn btn-primary" style="margin-left:70px" />

                </div>
                <br />*@

            @*<div class="col-md-3">
                <div>
                    @* Nothing *@
        </div>






    }


</body>