@model IEnumerable<ApplicationPerformance.Models.Goal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>
    Number of Goals:
</h2>@ViewBag.NumberOfGoals


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appraisal.AppraisalEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Objective.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemUser.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appraisal.AppraisalEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Objective.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemUser.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GoalID }) |
                @Html.ActionLink("Details", "Details", new { id = item.GoalID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GoalID })
            </td>
        </tr>
    }

</table>
