@model IEnumerable<ApplicationPerformance.Models.Goal>

@{
    ViewBag.Title = "Index";
}
@if (Session["manager"] != null)
{
<div class="breadcrumb" style="margin-top:15px; font-size: 13px; background: #fff; border-radius: 0; padding: 25px 12px 0 15px; color: #6e6e6f;">
    <a href='@Url.Action("ManagerEmployees", "SystemUsers", new { id = @ViewBag.AssignedManagerID })' class="crown"><i class="icon-angle-right"></i></a><a href='@Url.Action("ManagerEmployees", "SystemUsers", new { id = @ViewBag.AssignedManagerID })' class="home">My Dashboard</a>
    <span class="active-bc"> / Employee Appraisal Plan</span>
</div>
}

<h2> @ViewBag.FirstName @ViewBag.LastName's Appraisal Plan</h2>


<div class="col-md-6 main-content" style="margin-right:50px; border: 1px solid #deddde";>
   
        <div class="row">
            <div class="col-md-5">
                
                <div class="dropdown col-md-2">
                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="margin-top:10px;">
                        Add New Objective
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href='@Url.Action("Create")'>From Existing Guidelines</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href='@Url.Action("CreateUnique")'>Create New Objective</a></li>
                    </ul>
                </div>
            </div>
            <div class="search-textbox" style="float:right; padding:6px 45px 5px 2px;">
                @using (Html.BeginForm())
                {
                    <p>
                        @Html.TextBox("SearchString")
                        <input class="btn btn-normal-link" type="submit" value="Search" style="12px"/>
                    </p>
                }
                
            </div>
            <div>

            </div>
        </div>

    @foreach (var item in Model)
    {
        //Current date has not passed
        if (item.Appraisal.AppraisalEndDate >= DateTime.Now.Date && item.GoalStatus == ApplicationPerformance.Models.GoalStatus.Complete)

        {


            <button class="ObjectiveButton" id="close" style="width:512px;height:80px;margin-left:10px; margin-bottom:10px; background-color:#266f91; border: none; color:white; padding-bottom:20px; padding-top:20px;"
                    onclick="location.href='@Url.Action("Edit", new { id = item.GoalID })'">
                <div style="text-align:right;color:red;position:relative;"> @Html.ActionLink(" ", "Delete", new { id = item.GoalID }) <img src="~/Content/Pictures/Trash.png" height="25" width="25" />  </div>
       
                 <strong>@Html.DisplayFor(modelItem => item.Objective.Title) </strong> 
            </button>


        }

        //Current date has not passed
        if (item.Appraisal.AppraisalEndDate >= DateTime.Now.Date && item.GoalStatus == null)

        {
            <button class="ObjectiveButton" id="close" style="width:512px;height:80px;margin-left:10px; margin-bottom:10px; background-color:#005275; border: none; color:white; padding-bottom:20px; padding-top:20px;"
                    onclick="location.href='@Url.Action("Edit", new { id = item.GoalID })'">
                <div style="text-align:right;color:red;position:relative;"> @Html.ActionLink(" ", "Delete", new { id = item.GoalID }) <img src="~/Content/Pictures/Trash.png" height="25" width="25" />  </div>
                <div style="text-align:left;"> <strong>@Html.DisplayFor(modelItem => item.Objective.Title) </strong> </div>
            </button>

        }


        //Current date has not passed
        if (item.Appraisal.AppraisalEndDate <= DateTime.Now.Date && item.GoalStatus == ApplicationPerformance.Models.GoalStatus.Incomplete)

        {
            <button class="ObjectiveButton" id="close" style="width:512px; height:80px;margin-left:10px; margin-bottom:10px; background-color:#7f5a84; border: none; color:white; padding-bottom:20px; padding-top:20px;"
                    onclick="location.href='@Url.Action("Edit", new { id = item.GoalID })'">
                <div style="text-align:right;color:red;position:relative;"> @Html.ActionLink(" ", "Delete", new { id = item.GoalID }) <img src="~/Content/Pictures/Trash.png" height="25" width="25" />  </div>
                <div style="text-align:left;"> <strong>@Html.DisplayFor(modelItem => item.Objective.Title) </strong> </div>

            </button>
        }

        //Current date has passed
        if (item.Appraisal.AppraisalEndDate >= DateTime.Now.Date && item.GoalStatus == ApplicationPerformance.Models.GoalStatus.Incomplete)

        {
            <button class="ObjectiveButton" id="close" style="width:512px;height:80px;margin-left:10px; margin-bottom:10px; background-color:#60c3ad; border: none; color:white; padding-bottom:20px; padding-top:20px;"
                    onclick="location.href='@Url.Action("Edit", new { id = item.GoalID })'">
                <div style="text-align:right;color:red;position:relative;"> @Html.ActionLink(" ", "Delete", new { id = item.GoalID }) <img src="~/Content/Pictures/Trash.png" height="25" width="25" />  </div>
                <div style="text-align:center;"> <strong>@Html.DisplayFor(modelItem => item.Objective.Title) </strong> </div>
            </button>
        }

        //Current date has passed
        if (item.Appraisal.AppraisalEndDate >= DateTime.Now.Date && item.GoalStatus == null)

        {
            <button class="ObjectiveButton" id="close" style="width:512px;height:80px;margin-left:10px; margin-bottom:10px; background-color:#266f91; border: none; color:white; padding-bottom:20px; padding-top:20px;"
                    onclick="location.href='@Url.Action("Edit", new { id = item.GoalID })'">
                <div style="text-align:right;color:red;position:relative;"> @Html.ActionLink(" ", "Delete", new { id = item.GoalID }) <img src="~/Content/Pictures/Trash.png" height="25" width="25" />  </div>
                <div style="text-align:center;"> <strong>@Html.DisplayFor(modelItem => item.Objective.Title) </strong> </div>
            </button>
        }
    }


</div>


<div class="col-lg-3 side-panel" style="border: 1px solid #deddde;">
    <div class="row">

        <div class="col-sm-3"></div>
        @*<img src="/Content/Pictures/Emma.png" height="120" width="120" />*@
        <img src="@Url.Content(@ViewBag.Image)" height="120" width="160" style="margin-bottom:15px;margin-top:15px;"/>
        <br />
        <button class="btn btn-searching" style="margin-bottom:10px; margin-left:50px; color:white; background-color:#266f91; border:none; padding:5px; border-radius:2px;" onclick="location.href='@Url.Action("History", "Goals")'">View History</button>
          <button class="btn btn-searching" style="margin-bottom:10px; margin-left:10px; color:white; background-color:#266f91; border:none; padding:5px; border-radius:2px;" onclick="location.href='@Url.Action("Create", "SendEmails")'">Send Email</button>

    </div>
    <div class="row ">
        <strong>
            @*@ViewBag.LastName @ViewBag.FirstName*@
        </strong><br />
        <strong>
            @ViewBag.EmployeeRating
        </strong><br />
        <h5 class="job-title" style="font-family:Gotham Medium"></h5> <br />
        @*<img src="~/Content/Pictures/email-icon.png" height="25" width="25" />*@
        @if (Session["manager"] != null)
        {
            @*<p>
                    @Html.ActionLink("Send Email", "Create", "SendEmails")
                </p>*@
            @*<button class="btn btn-searching" style="margin-bottom:10px; margin-left:10px; color:white; background-color:#266f91; border:none; padding:5px; border-radius:2px;" onclick="location.href='@Url.Action("Create", "Evaluations")'">Evaluate Employee</button>*@
            //new { id = @ViewBag.ID})'">Rate Employee</button>
            @*<button class="btn btn-searching" style="margin-bottom:10px; margin-left:10px; color:white; background-color:#266f91; border:none; padding:5px; border-radius:2px;" onclick="location.href='@Url.Action("Index", "Evaluations")'">Evaluations History</button>*@


        }
        @*<button class="btn btn-searching" style="margin-bottom:10px; margin-left:10px; color:white; background-color:#266f91; border:none; padding:5px; border-radius:2px;" onclick="location.href='@Url.Action("CreateUnique")'">Create Unique Objective</button>*@



    </div>
    @*<div class="row">
        <div style="border:5px solid #a7a9ac; height: 120px; width:120px; background-color:#edeeee; border-radius:100px; text-align:center;" class="obj-num-display">
            <p><strong>Number of Objectives: @ViewBag.NumberOfGoals</strong></p>
        </div>*@


        <p style="text-align:center"><strong>Number of Objectives: @ViewBag.NumberOfGoals</strong></p>
        @*<div style="border:5px solid #266f91; background-color:#266f91; height: 120px; width:120px; border-radius:100px; text-align:center;" class="obj-num-display">
            <p style="color:white;text-align:center;"><strong> Complete: @ViewBag.NumberOfCompleteGoals</strong></p>
        </div>*@

        @*<button class="ObjectiveButton" id="close" style="width:250px;height:155px;margin-left:10px; margin-bottom:10px; background-color:#60c3ad; border: none; color:white; padding-bottom:20px; padding-top:20px;">
        <div style="text-align:center;color:white;position:relative;">
            <h2> Complete: <br /> @ViewBag.NumberOfCompleteGoals </h2>
        </div>
        </button>*@

        <br />
        <script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
	  
                animationEnabled: true,     
		data: [
		{        
		    type: "doughnut",
			startAngle: 60,                          
			//toolTipContent: "{legendText}: {y} - <strong>#percent% </strong>", 					
			//showInLegend: true,
			dataPoints: [
				@*{y: @ViewBag.NumberOfGoals, indexLabel: "Objectives " + @ViewBag.NumberOfGoals, legendText: "Total Objectives" },*@
				{y: @ViewBag.NumberOfCompleteGoals, indexLabel: "Completed " + @ViewBag.NumberOfCompleteGoals, legendText: "Completed Goals" },
				{y: @ViewBag.OngoingGoals,  indexLabel: "Incomplete " + @ViewBag.OngoingGoals, legendText: "Others" }			
			]
		}
		]
	});

    var chart2 = new CanvasJS.Chart("chartContainer2",
	{
	  
	    animationEnabled: true,     
	    data: [
		{        
		    type: "column",
		    startAngle: 60,                          
		    //toolTipContent: "{legendText}: {y} - <strong>#percent% </strong>", 					
		    //showInLegend: true,
		    dataPoints: [
				@*{y: @ViewBag.NumberOfGoals, indexLabel: "Objectives " + @ViewBag.NumberOfGoals, legendText: "Total Objectives" },*@
				{y: @ViewBag.NumberOfCompleteGoals, indexLabel: "Completed " + @ViewBag.NumberOfCompleteGoals, legendText: "Completed Goals" },
				{y: @ViewBag.OngoingGoals,  indexLabel: "Incomplete " + @ViewBag.OngoingGoals, legendText: "Others" }			
		    ]
		}
	    ]
	});

    chart.render();
    chart2.render();

	}
</script>
        <script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div id="chartContainer" style="height: 150px; width: 100%;"></div>

    <div id="chartContainer2" style="height: 150px; width: 100%;"></div>
    <<br />
  
</div>
<div class="row"></div>

