@model IEnumerable<ApplicationPerformance.Models.Response>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemUser.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemUser.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResponseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResponseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResponseID })
        </td>
    </tr>
}

</table>
